
import * as React from 'react';
import * as PropTypes from 'prop-types';

<% includes.forEach(file => { %>
const <%= file.name %> = Include;
<% }) %>

/**
 * @author Maciej Chałapuk (maciej@chalapuk.pl)
 */
export class NoDependencyPage extends React.PureComponent<{}, {}> {
  static contextTypes = {
    paramorph: PropTypes.object.isRequired,
    history: PropTypes.object.isRequired,
    page: PropTypes.object.isRequired,
  };

  render() {
    const { paramorph, page, history } = this.context;

    return (
      <div><%- html %></div>
    );
  }
}

export default NoDependencyPage;

function Include(props : any) {
  const propNames = [ 'title', 'name', 'description', 'details' ];

  return (
    <div>
      { propNames.map(name => {
          const value = props[name];
          return typeof value === 'string' ? `${value}. ` : null;
        }) }
      { props.children }
    </div>
  );
}

